%ul{class: "nav nav-tabs"}
  %li{class:"active"}
    %a{'data-toggle':"tab", href:"#dados"}
      Documento
  %li
    %a{'data-toggle':"tab", href:"#convenio"}
      Convênio
  %li
    %a{'data-toggle':"tab", href:"#dados_pessoais"}
      Pessoais
  %li
    %a{'data-toggle':"tab", href:"#historico"}
      Histórico
  %li
    %a{'data-toggle':"tab", href:"#texto_livre"}
      Texto Livre

= simple_form_for(@cliente, url: change_or_create_new_paciente_path) do |f|
  %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
    %div{class:"tab-content"}
      / aba dos dados principais
      =render 'aba_dados_principais', {f: f}

      / aba de convenios
      =render 'aba_dados_convenio', {f: f}

      / aba de dados pessoais
      =render 'aba_dados_pessoais', {f: f}

      / aba de historico
      %div{id:"historico", class:"tab-pane fade"}

      / aba de texto livre
      %div{id:"texto_livre", class:"tab-pane fade"}