%ul{class: "nav nav-tabs"}
  %li{class:"active"}
    %a{'data-toggle':"tab", href:"#dados"}
      Documento
  %li
    %a{'data-toggle':"tab", href:"#convenio"}
      Convênio
  %li
    %a{'data-toggle':"tab", href:"#dados_pessoais"}
      Pessoais

= simple_form_for(@cliente, url: change_or_create_new_paciente_path) do |f|
  %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
    %div{class:"tab-content"}
      / aba dos dados principais
      =render 'clientes/partials/aba_dados_principais', {f: f}

      / aba de convenios
      =render 'clientes/partials/aba_dados_convenio', {f: f}

      / aba de dados pessoais
      =render 'clientes/partials/aba_dados_pessoais', {f: f}