- if @cliente.id?
  =build_form_toolbar(nil, ".edit_cliente", @cliente, empresa_clientes_path(current_user.empresa), nil)
-else
  =build_form_toolbar(nil, ".new_cliente", @cliente, empresa_clientes_path(current_user.empresa), nil)
%section{id: "clinic_sheet"}
  .container-fluid
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h1 Ficha Cliente
      %hr{style: "border: #323232 solid 0.5px;"}
      .row-fluid
        - if @cliente.errors.any?
          .alert.alert-danger
            .container
              .panel-heading
                %h2{ class: "panel-title" }
                  Alguns erros impediram este cliente de ser salvo.
                  %br
                  Verifique-os e tente novamente.
  .container-fluid
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .panel
        =render 'clientes/partials/form_from_agenda'
  - if params[:agenda_id]
    .container-fluid
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        -if params[:cliente_id].present?
          =link_to "voltar para a agenda", "#", class: "btn btn-success", id: "return_to_agenda"
        #empresa_id{style: "display: none"}=params[:empresa_id]
        #agenda_id{style: "display: none"}=params[:agenda_id]
        #sala_espera_id{style: "display: none"}=params[:sala_espera_id]
        #cliente_id{style: "display: none"}=params[:cliente_id]

/ get_convenio_empresa_agenda_sala_de_espera_path(current_user.empresa, params[:agenda_id], params[:sala_espera_id], cliente_id: @cliente)

