- if @cliente.id?
  =build_form_toolbar(nil, ".edit_cliente", @cliente, clientes_path, nil)
-else
  =build_form_toolbar(nil, ".new_cliente", @cliente, clientes_path, nil)
%section{id: "clinic_sheet"}
  .container-fluid
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h1 Ficha Cliente
      %hr{style: "border: #323232 solid 0.5px;"}
      .row-fluid
        - if @cliente.errors.any?
          .alert.alert-danger
            .container
              .panel-heading
                %h2{ class: "panel-title" }
                  Alguns erros impediram este cliente de ser salvo.
                  %br
                  Verifique-os e tente novamente.
  .container-fluid
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .panel
        =render 'clientes/partials/form_from_agenda'