=build_form_toolbar(nil, ".edit_cliente", @cliente, empresa_clientes_path(current_user.empresa), nil)
%section{id: "edit_clientes"}
  .container
    %br
    %br
    %h1=t('bootstrap.helpers.links.edit')
    %hr.white_stroke
    .row-fluid
      - if @cliente.errors.any?
        .alert.alert-danger
          .container
            .panel-heading
              %h2{ class: "panel-title" }
                Alguns erros impediram este cliente de ser salvo.
                %br
                Verifique-os e tente novamente.
  .container
    .panel=render 'clientes/partials/edit_form'

#empresa_id{style: "display: none"}=params[:empresa_id]
#empresa_value{style: "display: none"}=current_user.empresa_id
#cliente_id{style: "display: none"}=params[:cliente_id]
