%td{width: "2%", style: "text-align: left; font-weight: bold"}
  %label=status(referencia.status)
%td{width: "3%", style: "text-align: center;"}=referencia.descricao
%td{width: "3%", style: "text-align: center;"}=referencia.profissional_nome