%tr{id: "empresa_usuario_#{user.id}"}
  %td=user.id
  %td=user.name
  %td
    %em=time_ago_in_words(user.created_at)
  %td
    %center
      -if user.admin?
        %i.fa.fa-2x.fa-check-circle-o{style: "color: #658D10"}
      -else
        %i.fa.fa-2x.fa-times-circle-o{style: "color: #CC3B00"}
  %td
    -unless user.admin?
      =link_to empresa_show_user_permissions_path(user.empresa, user), remote: true, title: " Visualizar Permiss천es" do
        %i.fa.fa-2x.fa-warning.text-center{style: "color: #778A96"}
      =link_to empresa_usuario_add_permissions_path(user.empresa, user), title: " Adicionar nova Permiss찾o" do
        %i.fa.fa-2x.fa-plus-circle.text-center{style: "color: #0580DE"}
      -if user.user_models.has_agenda?
        =link_to manager_empresa_agenda_permissao_path(user.empresa, user), title: "Permiss천es da Agenda" do
          %i.fa.fa-2x.fa-calendar.text-center{style: "color: #40783F"}
      -if user.user_models.has_cliente?
        =link_to manager_empresa_cliente_permissao_path(user.empresa, user), title: "Permiss천es do Cliente" do
          %i.fa.fa-2x.fa-universal-access{style: "color: #008C7C"}
  %td
    %center
      -unless user.admin?
        =link_to change_account_empresa_usuario_path(user.empresa, user), title: " Alterar Dados" do
          %i.fa.fa-2x.fa-pencil-square-o{style: "color: #4F5558"}