%tr{id: "empresa_usuario_#{usuario.id}"}
  %td=usuario.id
  %td=usuario.nome
  %td=usuario.login
  %td
    %em=time_ago_in_words(usuario.created_at)
  %td
    %center
      -if usuario.admin?
        %i.fa.fa-2x.fa-check-circle-o{style: "color: #658D10"}
      -else
        %i.fa.fa-2x.fa-times-circle-o{style: "color: #CC3B00"}
  %td
    -unless usuario.admin?
      =link_to painel_show_user_permissions_path(usuario), remote: true, title: " Visualizar Permissões" do
        %i.fa.fa-2x.fa-warning.text-center{style: "color: #778A96"}
      =link_to painel_empresa_painel_usuario_add_permissions_path(usuario.empresa, usuario), title: " Adicionar nova Permissão" do
        %i.fa.fa-2x.fa-plus-circle.text-center{style: "color: #0580DE"}
      -if usuario.usuario_permissoes.possuiAgenda?
        =link_to manager_agenda_permissao_path(usuario.id), title: "Permissões da Agenda" do
          %i.fa.fa-2x.fa-calendar.text-center{style: "color: #466900"}
  %td
    %center
      -unless usuario.admin?
        =link_to change_account_painel_empresa_painel_usuario_path(usuario.empresa, usuario), title: " Alterar Dados" do
          %i.fa.fa-2x.fa-pencil-square-o{style: "color: #4F5558"}