//MODAL COM TODAS AS PERMISSOES DA EMPRESA DO USUARIO ATUAL
#usuario_permissoes_modal.modal.fade{ :"aria-hidden"=> "true", :"aria-labelledby"=> "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ :"aria-label" =>"Close", :"data-dismiss"=>"modal", type: "button"}
          %span{:"aria-hidden"=>"true"} ×
        %h4#myModalLabel.modal-title
          %center="Permissoes do(a) Funcionário(a) #{user.name}"
      .modal-body
        %fieldset{style: "border: #BBC0C3 1px solid;"}
          %br/
          %ol
            .container-fluid
              .col-md-12
                -user.user_models.models_added.select(:model_id).each do |f|
                  .col-md-4
                    %li{style: "color: #524EFF;"}=f.model.name
                    %hr{style: "border: #C7C4FF 0.5px dashed;"}
      .modal-footer
        .row
          .col-md-12
            %center{style: "color: #6F79FF; font-weight: bold"} 
              Não encontrou a permissão que procura?
              %br/
            %center
              =content_tag(:a, href: "mailto:globalnetsis@globalnetsis.com.br", class: "mailto") do
                Entre em contato com a GLOBALNETSIS
        %button#usuario_permissoes_modal_close.btn.btn-default{:"data-dismiss"=> "modal", type: "button"} Fechar