#imagens_externas.tab-pane.fade
  .container
    - if @cliente.id?
      .row
        .col-sm-11.col-md-11
          =render 'clientes/partials/cliente_legend'
    = simple_form_for :imagens_externas do |i|
      .row{style: "margin-bottom: 20px;"}
        .col-xs-12.col-sm-10.col-md-6.col-lg-6
          %label{for: "imagens_externas_foto_antes", class: "custom-file-upload"}
            %i.fa.fa-cloud-upload Foto Antes
          =i.input :foto_antes, as: :file, label: false
          #foto_antes_selected
        .col-xs-12.col-sm-10.col-md-6.col-lg-6
          %label{for: "imagens_externas_foto_depois", class: "custom-file-upload"}
            %i.fa.fa-cloud-upload Foto Depois
          =i.input :foto_depois, as: :file, label: false
          #foto_depois_selected
  .container
    .col-sm-12.col-md-12
      - if @cliente.imagens_externas.count > 0
        = render 'clientes/partials/carousel_imagens_externas', {imagens_externas: @cliente.imagens_externas}
        / %div{class: "row"}
        /   - @cliente.imagens_externas.each do |img|
        /     - if img.foto_antes.present?
        /       %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-4"}
        /         = image_tag img.foto_antes, :class => "img_profissional pull-right"
        /     - if img.foto_depois.present?
        /       %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-4"}
        /         = image_tag img.foto_depois, :class => "img_profissional pull-right"