/ Modal usuario update password
=content_tag(:div, id: "edit_password_usuario_#{usuario.id}", class: "modal fade", :"aria-hidden"=>"true", :"aria-labelledby"=>"myModalLabel", role: "dialog", tabindex: "-1", :"data-backdrop"=>"static") do
  = simple_form_for(usuario, url: painel_usuario_update_password_path, method: "PUT", remote: true) do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ :"aria-label"=>"Close", :"data-dismiss"=>"modal", type: "button"}
            %span{:"aria-hidden"=>"true"} ×
          %h4#myModalLabel.modal-title Mudar Senha
          %em
            %b{style: "text-decoration: underline"}=usuario.nome
        .modal-body
          / .field
          /   = f.input :empresa_id, as: :hidden, input_html: { value: usuario.empresa_id }
          / .field
          /   = f.input :painel_usuario_id, as: :hidden, input_html: { value: usuario.id }
          .field
            = f.input :password, required: true
          .field
            = f.input :password_confirmation, required: true
        .modal-footer
          =f.button :submit, "Editar", class: 'btn btn-success'
          %button#usuario_formclose.btn.btn-default{ :"data-dismiss"=>"modal", type: "button" } Fechar