%tr{id: "empresa_usuario_#{usuario.id}"}
  %td=link_to usuario.nome, "#"
  %td=usuario.login
  %td
    %span
      %em=time_ago_in_words(usuario.created_at)
  %td
    .col-md-3
      =link_to "", title: "Editar Dados", :"data-toggle" => "modal", :"data-target"=>"#edit_usuario_#{usuario.id}" do
        %i.fa.fa-2x.fa-pencil{ style: "color: #2D2D2D"}
    .col-md-3
      =link_to "", title: "Alterar Senha", :"data-toggle" => "modal", :"data-target"=>"#edit_password_usuario_#{usuario.id}" do
        %i.fa.fa-2x.fa-cogs{ style: "color: #2D2D2D" }
    .col-md-3
      =link_to painel_empresa_remove_admin_path(usuario.empresa_id, usuario.id), method: :delete, data: { confirm: "Excluir Administrador '#{usuario.nome}'" }, title: "Remover usuário" do
        %i.fa.fa-2x.fa-trash{ style: "color: #BC0000" }
=render 'painel/usuarios/update_usuario', { usuario: usuario }
=render 'painel/usuarios/update_password', { usuario: usuario }