<%= render 'environment_data' %>

<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4><center>Permissões</center></h4></div>
        <div class="panel-body">
          <div id="environment_models_form">
            <%= render 'environment_models' %>
          </div>
          <%-if @environment.environment_models.empty? %>
            <em>Este Ambiente não possui permissões cadastradas</em>
          <%-else -%>
            <hr>
            <%- @environment.environment_models.each do |model| %>
              <div class="col-md-5">
                <ul>
                  <li>
                    <%= model.name %>
                    <%= link_to remove_model_painel_environment_path(@environment, environment_model_id: model.id), data: {confirm: "Are you sure?"} do %>
                      <i class="fa fa-trash-o"></i>
                    <%- end -%>
                  </li>
                </ul>
              </div>
            <%- end -%>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>
</div>