%li
  %a{'data-toggle': "tab", href: "#historico"} Histórico
%li
  %a{'data-toggle': "tab", href: "#texto_livre"} Texto-Livre
%li
  %a{'data-toggle': "tab", href: "#pdf"} PDF
%li
  %a{'data-toggle': "tab", href: "#receituario"} Receituário
%li
  %a{'data-toggle': "tab", href: "#imagens_externas"} Imagens Externas
