=build_form_toolbar(nil ,".new_profissional", @profissional, profissionais_path, nil)
%section{id: "new_profissional"}
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        %h1 Novo Profissional
        %hr{style: "border: #323232 solid 0.5px;"}
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        = render 'form'
