=build_object_viewer_toolbar(edit_empresa_profissional_path(current_user.empresa, @profissional), @profissional, empresa_profissionais_path(current_user.empresa), nil)

%section#profissional
  .container-fluid
    .row-fluid
      .panel.panel-default
        .panel-heading
          %label.center{style: "color: #232323; align: center; font-weight: bolder;"}
            Profissional -
            = @profissional.id
            |
            = status @profissional.status
        .panel-body
          .row-fluid
            =render 'profissionais/assets/profissional_dados'
