=build_form_toolbar(nil ,".edit_servico", @servicos, empresa_servicos_path(current_user.empresa_id), nil)
%section#new_servico
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        %h1 Editando Serviço
        %hr{style: "border: #323232 solid 0.5px;"}
    .row
      .panel
        .container
          =render 'form'

