#agenda_legend
  .block_tile
    .blue
    %label.legend Vago
  / .block_tile
  /   .green
  /   %label.legend Agendado
  / .block_tile
  /   .yellow
  /     %label.legend D.P / D.M
  / .block_tile
  /   .orange
  /     %label.legend Não Veio
  / .block_tile
  /   .red
  /     %label.legend Atendido