.col-sm-3.col-md-3.col-lg-3.pull-right
  .container-fluid
    .panel.panel-info.panel-legend
      .container
        .row-fluid
          %br/
          %fieldset
            %legend{style: "border: #A5AFD7 dashed 1px; text-align: center"} Legenda
            .container
              =render 'legend'
            %hr{style: "border: #A5AFD7 dashed 1px"}