#accordion.agenda.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFastAccess"}
          Médicos do Dia
    #collapseFastAccess.panel-collapse.collapse.in
      .panel-body
        %table.table
          - @medicos_do_dia.each do |medico|
            %tr
              %td=link_to medico.descricao, new_cliente_path, title: "Acesso Rápido à Cliente"
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseProfile"}
          Outros Médicos
    #collapseProfile.panel-collapse.collapse
      .panel-body
        %table.table
          - @outros_medicos.each do |medico|
            %tr
              %td=link_to medico.descricao, new_cliente_path, title: "Acesso Rápido à Cliente"