#accordion.agenda.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFastAccess"}
          Médicos do Dia
    #collapseFastAccess.panel-collapse.collapse.in
      .panel-body
        %table.table
          - @medicos.each do |medico|
            =binding.pry
            %tr
              %td
                = link_to medico, new_cliente_path, title: "Acesso Rápido à Cliente"
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseProfile"}
          Outros Médicos
    #collapseProfile.panel-collapse.collapse
      .panel-body
        %table.table
          %tr
            %td
              #usuario_password
              =link_to painel_change_user_password_path(current_usuario), remote: true, title: " Alterar Senha" do
                %span.text-info
                  %i.fa.fa-2x.fa-key
                  Alterar Senha
          %tr
            %td
              %span.text-info
                %i.fa.fa-2x.fa-pencil-square-o
                %a{:href => "http://www.jquery2dotnet.com"} Alterar Dados
          %tr
            %td
              = link_to destroy_usuario_session_path, method: 'delete', title: "SAIR" do
                %span.text-danger
                  %i.fa.fa-2x.fa-sign-out
                  Sair/Deslogar