.container-fluid{style: "width: 100"}
  .panel.panel-default
    .container-fluid{style: "width: 100"}
      .row-fluid
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          =render 'painel/agendas/componentes/filtro'