#movimentar_agenda.modal.fade{:role => "dialog", :tabindex => "-1", :"data-backdrop"=> true}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title=movimentar_agenda_numero(@agenda.id)
      .modal-body
        =simple_form_for [@empresa, @nova_movimentacao], url: painel_empresa_agenda_post_movimentacao_path, html: { class: "modal_movimentar_agenda"} do |f|
          .container-fluid
            .row-fluid
              =render @agenda
          %hr{style: "border: #323232 dashed 0.5px;"}
          .container-fluid
            .col-md-8
              .row
                =f.input :agenda_id, as: :hidden, input_html: {value: @agenda.id}
                .col-md-6
                  =f.label "Convênio"
                  =f.collection_select :convenio_id, @convenios, :id, :title, { prompt: "Selecione um" }, class: "form-control"
                .col-md-6
                  #convenio_n_cadastrado{style: "display: inline-block; padding-top: 30px;"}
                    =f.check_box :sem_convenio
                    =f.label "Convênio não Cadastrado"
              %br/
              .row
                =f.input :id_paciente, as: :hidden
                .col-md-6
                  =f.input :nome_paciente, input_html: { class: "buscar_paciente_4_agenda" }
                .col-md-5
                  =f.input :telefone_paciente
              .row
                .col-md-6
                  =f.input :email_paciente
                .col-md-5
                  =f.label :solicitante_id, "Solicitante"
                  =f.collection_select :solicitante_id, Profissional.where(empresa_id: current_usuario.empresa_id).order("nome ASC"), :id, :titulo, { prompt: "Selecione um" }, class: "form-control"
              .row
                .col-md-3
                  =f.input :confirmacao, label: "Confirmação", :as => :select,:collection => [['OK','OK'],['N.V','N.V'], ['D.M','D.M'], ['R.P','R.P'], ['R.M','R.M'], [ 'Desistiu', 'Desistiu']], :include_blank => false
              
            .col-md-4
              .row
                =f.input :observacoes, label: "Observações", input_html: { style: "margin-top: 5px; margin-bottom: 3px; height: 211px;" }
            .row-fluid
              =f.button :submit, "Enviar", class: "btn btn-primary"
                


      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
    / /.modal-content
  / /.modal-dialog
/ /.modal