=build_form_toolbar(nil, ".new_agenda_movimentacao", @movimentacao, empresa_agendas_path(current_user.empresa), nil)

.container-fluid
  %br
  %br
  %br
  %br
  %br
  .panel.panel-default
    %h3.center=movimentar_agenda_numero(@agenda)
    =render 'form'