=build_form_toolbar(nil,".new_conselho_regional", @conselho_regional, empresa_conselho_regionais_path(current_user.empresa), nil)
%section{id: "new_conselho_regional"}
  %div{class: "container"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %h1=t('labels.Novo Conselho Regional')
        %hr{style: "border: #323232 solid 0.5px;"}
        %div{class: "row-fluid"}
          %div{class: "panel"}
            =render 'form'
        %hr{style: "border: #323232 solid 0.5px;"}
        .page-header
        .page-header
