=build_form_toolbar(nil,".new_conselho_regional", @conselho_regional, empresa_conselho_regionais_path(current_user.empresa), nil)

.row-fluid
  %h1=t('labels.Novo Conselho Regional')
  %hr{style: "border: #323232 solid 0.5px;"}
.row-fluid=render 'form'
