%div{class: "nested-fields"}
  %div{class: "panel panel-info"}
    %div{class: "panel-heading"}
      %div{class: "container-fluid"}
        %div{class: "row"}
          %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
            = f.label "Exame Procedimentos"
            = link_to_remove_association f, class: 'btn  btn-danger btn-circle pull-right', style: "width: 20px; height: 20px; padding: 0;" do
              %i.fa.fa-times
            = f.collection_select :exame_procedimento_id, ExameProcedimento.all.order(:descricao), :id, :title, { prompt: "Selecione um" }, class: "form-control"