=build_form_toolbar(".edit_convenio", @convenio, convenios_path, nil)
%section{id: "edit_convenio"}
  %div{class: "container"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %h1 Editando Convênio
        %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "panel"}
          = render 'convenios/form'
