= simple_form_for([current_user.empresa, @feriado_e_data_comemorativa]) do |f|
  = f.error_notification
  .panel
    .container
      %br
      .row
        .col-md-3
          = f.input :descricao, label: "Descrição"
      .row
        .col-md-3
          = f.input :data
          %hr{style: "border: #696969 solid 1px"}
          %h4.center{style: "text-decoration: underline; font-weight: bold"}
            %em Pré Visualização
          #calendarDHTMLX
          .panel{style: "width: 245px;"}
            .container-fluid
              #PreviewHolidays
          %hr{style: "border: #696969 solid 1px"}
      %br
