=build_calendar_toolbar(nil, "#new_feriado_e_data_comemorativa", @feriado_e_data_comemorativa, empresa_feriado_e_data_comemorativas_path(current_user.empresa))
%h1=t('labels.nova_data_comemorativa')

= render 'form'

=stylesheet_link_tag "dhtmlXSuite/dhtmlxCalendar/dhtmlx_material.css"
=javascript_include_tag "utility/form_new_holiday"