=build_exit_toolbar
.container-fluid
  .col-md-12
    %h1 
      %b Permissoes da Modalidade - Agenda
      %hr{style: "border: #5F5F5F 1px solid"}
  .col-md-12
    =simple_form_for @agenda_permissao, url: build_agenda_permissions_agenda_permissao_path, method: "post" do |f|
      =f.hidden_field :usuario_permissoes_id, value: "#{@usuario_permissao.id}"
      .col-md-6
        .panel.panel.default
          .panel-heading
            %h3
              %label Usuário - 
              %em=@usuario.nome
            %hr{style: "border: #C5B1FF 1px dashed"}
            %p
              %label Tipo - 
              %code=@usuario.tipo
            %p
              %label Ultima vez logado no sistema - 
              %pre=@usuario.last_sign_in_at.to_formatted_s(:short) if !@usuario.last_sign_in_at.nil?
      .col-md-6
        .panel.panel.default
          .panel-heading
            %h3
              %em=t('painel.helpers.models.permissoes')
            .pull-right
              %label Selecionar Tudo? - 
              = check_box_tag('check_all', 'check_all', false, :onClick => "checkAll(this);")
            %hr{style: "border: #C5B1FF 1px dashed"}
          .panel-body
            %table.table
              %tbody
                %tr
                  %th Agendar
                  -if @agenda_permissao.agendar?
                    %td=f.check_box :agendar, checked: true
                  -else
                    %td=f.check_box :agendar, checked: false
                %tr
                  %th Excluir
                  -if @agenda_permissao.excluir?
                    %td=f.check_box :excluir, checked: true
                  -else
                    %td=f.check_box :excluir, checked: false
                %tr
                  %th Trocar Horário
                  -if @agenda_permissao.trocar_horario?
                    %td=f.check_box :trocar_horario, checked: true
                  -else
                    %td=f.check_box :trocar_horario, checked: false
                %tr
                  %th Realizar Atendimento
                  -if @agenda_permissao.realizar_atendimento?
                    %td=f.check_box :realizar_atendimento, checked: true
                  -else
                    %td=f.check_box :realizar_atendimento, checked: false
                %tr
                  %th Visualizar Atendimento
                  -if @agenda_permissao.visualizar_atendimento?
                    %td=f.check_box :visualizar_atendimento, checked: true
                  -else
                    %td=f.check_box :visualizar_atendimento, checked: false
                %tr
                  %th Limpar Horario
                  -if @agenda_permissao.limpar_horario?
                    %td=f.check_box :limpar_horario, checked: true
                  -else
                    %td=f.check_box :limpar_horario, checked: false
                %tr
                  %th Paciente Não Veio
                  -if @agenda_permissao.paciente_nao_veio?
                    %td=f.check_box :paciente_nao_veio, checked: true
                  -else
                    %td=f.check_box :paciente_nao_veio, checked: false
                %tr
                  %th Remarcar Pelo Paciente
                  -if @agenda_permissao.remarcar_pelo_paciente?
                    %td=f.check_box :remarcar_pelo_paciente, checked: true
                  -else
                    %td=f.check_box :remarcar_pelo_paciente, checked: false
                %tr
                  %th Remarcar Pelo Medico
                  -if @agenda_permissao.remarcar_pelo_medico?
                    %td=f.check_box :remarcar_pelo_medico, checked: true
                  -else
                    %td=f.check_box :remarcar_pelo_medico, checked: false

                %tr
                  %th Desmarcar Pelo Paciente
                  -if @agenda_permissao.desmarcar_pelo_paciente?
                    %td=f.check_box :desmarcar_pelo_paciente, checked: true
                  -else
                    %td=f.check_box :desmarcar_pelo_paciente, checked: false
                %tr
                  %th Desmarcar Pelo Medico
                  -if @agenda_permissao.desmarcar_pelo_medico?
                    %td=f.check_box :desmarcar_pelo_medico, checked: true
                  -else
                    %td=f.check_box :desmarcar_pelo_medico, checked: false
            .pull-right
              =f.submit "Salvar", class: "btn btn-success", id: "btnFormPermissoesAgenda"