%ul.nav.nav-tabs
  %li.active
    %a{'data-toggle':"tab", href:"#dados"} Dados profissionais
  %li
    %a{'data-toggle':"tab", href:"#endereco"} Endereço

= simple_form_for([current_user.empresa, @fornecedor]) do |f|
  .tab-content
    //Aba profissionais
    =render 'fornecedores/assets/aba_profissionais', { f: f}
    //Aba endereco
    =render 'fornecedores/assets/aba_endereco', { f: f}
