=build_form_toolbar(nil ,".new_fornecedor", @fornecedor, empresa_fornecedores_path(current_user.empresa), nil)
%section{id: "new_fornecedor"}
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
      %h1 Novo Fornecedor
      %hr{style: "border: #323232 solid 0.5px;"}
  %div{class: "row"}
    %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
      = render 'form'
