%td{width: "25%", style: "text-align: left; font-weight: bold"}
  -unless agenda.agenda_movimentacao.present?
    =link_to agenda.referencia, painel_empresa_agenda_movimentar_ou_atualizar_path(@empresa,agenda.id), class: "hands_cursor"
  -else
    %label=agenda.referencia
%td{width: "12%", style: "text-align: center;"}=day_name(agenda.data.wday)
%td{width: "7%", style: "text-align: center;"}=agenda.data.strftime("%d/%m/%Y")
%td{width: "5%", style: "text-align: center;"}=Time.parse(agenda.atendimento_inicio).strftime("%H:%M")
%td{width: "5%", style: "text-align: center;"}=agenda.agenda_movimentacao.confirmacao if agenda.confirmacao?
%td{width: "25%", style: "text-align: left;"}=agenda.agenda_movimentacao.nome_paciente if agenda.try(:agenda_movimentacao)
%td{width: "15%", style: "text-align: left;"}=agenda.agenda_movimentacao.atendente.nome if agenda.try(:agenda_movimentacao)
%td{width: "2%", style: "text-align: center;"}
  %label=agenda.hora_atendimento.strftime("%H:%M") unless agenda.hora_atendimento.blank?
%td{width: "2%", style: "text-align: center;"}
  =render 'movimentacao_opcoes', { agenda: agenda}