#agenda_legend
  %li
    .block_tile
      .azul_claro
      .legend Vago
  %br/
  %li
    .block_tile
      .verde_limao
      .legend Agendado
  %br/
  %li
    .block_tile
      .laranja
      .legend Não Veio
  %br/
  %li
    .block_tile
      .teal
      .legend Sala de Espera
  %br/
  %li
    .block_tile
      .vermelho_claro
      .legend Atendido