-unless agenda.agenda_movimentacao.nil?
  .btn-group
    %button.btn.btn-white-background.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      %i.mdi-set.mdi-account-card-details.mdi-2x.mdi-white-color
      %span.caret
    %ul.dropdown-menu
      %li=link_to "Ver Ficha do Paciente", "#"
      %li.divider{:role => "separator"}
      %li=link_to "Trocar Horário", painel_empresa_agenda_change_day_or_time_path(current_usuario.empresa, agenda), remote: true
      %li=link_to "Limpar Horário", painel_empresa_agenda_clean_path(current_usuario.empresa, agenda)
      %li.divider{:role => "separator"}
      %li=link_to "Bloquear Horário", "#"
      %li=link_to "Bloquear Período", "#"
  #change_agenda_section
-else
  .btn-group
    %button.btn.btn-white-background.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      %i.mdi-set.mdi-clock-alert.mdi-2x.mdi-white-color
      %span.caret
    %ul.dropdown-menu
      %li=link_to "Bloquear Horário", "#"
      %li=link_to "Bloquear Período", "#"
      %li.divider{:role => "separator"}
      %li=link_to "Excluir Agenda", "#"
