.row-fluid
  .panel.panel-success
    .panel-heading 
    .panel-body
      %table.table-agenda.table.table-striped.table-bordered.table-hover{ cellspacing: "0", width: "100%"}
        %thead
          %th Referência
          %th{align: "center"} Dia
          %th{align: "center"} Data
          %th{align: "center"} Horário
          %th{align: "center"} Confirmação
          %th Paciente
          %th Atendente
          %th{align: "center"} Hora
          %th{align: "center"} Opções
        %tbody#agenda_content_normal
          =render 'agendas'
=render 'application/componentes/rolagem'