.row-fluid
  .panel.panel-success
    .panel-heading 
    .panel-body
      %table.table-agenda.table.table-striped.table-bordered.table-hover{ cellspacing: "0", width: "100%"}
        %thead
          %th Referência
          %th{align: "center"} Dia
          %th{align: "center"} Data
          %th{align: "center"} Horário
          %th{align: "center"} TEMPO
          %th{align: "center"} Confirmação
          %th Paciente
          %th Atendente
          %th{align: "center"} Hora
          %th{align: "center"} Opções
        =content_tag(:tbody, id: I18n.t('agendas.helpers.default')) do
          =render 'agendas'
%br/

=render 'application/componentes/rolagem'