=build_form_toolbar(new_painel_empresa_agenda_path(empresa_atual), nil, @agenda, painel_empresa_agendas_path(empresa_atual), nil)
.container-fluid
  .row-fluid
    %h1  Agendas
  .row-fluid
    %hr{style: "border: #323232 solid 0.5px;"}
  .jumbotron
    .row-fluid
      .col-md-8.pull-left
        =render 'search_form_for'
      .col-md-3.col-md-offset-1.pull-right
        .panel.panel-info
          .container
            %br/
            %fieldset
              %legend{style: "border: #A5AFD7 dashed 1px; text-align: center"} Legenda
              .container
                =render 'legend'
              %hr{style: "border: #A5AFD7 dashed 1px"}
  =render 'result'