=build_form_toolbar(new_painel_empresa_agenda_path(empresa_atual), nil, @agenda, painel_empresa_agendas_path(empresa_atual), nil)
.container-fluid
  .row-fluid
    %h1  Agendas
    %hr{style: "border: #323232 solid 0.5px;"}
  .row-fluid
    .jumbotron
      =render 'search_form_for'
    =render 'result'
