/ =build_form_toolbar(new_painel_empresa_agenda_path(empresa_atual), nil, @agenda, painel_empresa_agendas_path(empresa_atual), nil)
=carrega_navbar_da_agenda
%hr{style: "border: #323232 solid 0.5px;"}
=carrega_filtro_da_agenda
.container-fluid
  .row
    .col-md-2
      =render "painel/agendas/componentes/menu_lateral"
    .col-md-10
      =render "painel/agendas/componentes/bloco_lateral"
