=build_form_toolbar(new_painel_empresa_agenda_path(empresa_atual), nil, @agenda, painel_empresa_agendas_path(empresa_atual), nil)
.container-fluid
  .row-fluid
    %h1  Agendas
  .row-fluid
    %hr{style: "border: #323232 solid 0.5px;"}
.container-fluid
  .jumbotron
    %hr{style: "border: #A5AFD7 dashed 1px"}
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .container
        .row-fluid
          .col-sm-8.col-md-8.col-lg-8
            =render 'search_form_for'
          .col-sm-3.col-md-3.col-lg-3.pull-right
            .container-fluid
              .panel.panel-info.panel-legend
                .container
                  .row-fluid
                    %br/
                    %fieldset
                      %legend{style: "border: #A5AFD7 dashed 1px; text-align: center"} Legenda
                      .container
                        =render 'legend'
                      %hr{style: "border: #A5AFD7 dashed 1px"}
          .clearfix
    %hr{style: "border: #A5AFD7 dashed 1px"}
.container-fluid
  =render 'result'

#movimentar_agenda_section
#block_day
#block_period