%div{style: "padding-top: 15px; padding-bottom: 15px;"}
  %div{class:"tab-content"}
    / aba dados_pessoais
    =render 'clientes/partials/dados_pessoais_edit', { f: f }

    / aba convenio
    =render 'clientes/partials/convenio', { f: f }

    / aba contato
    =render 'clientes/partials/contato', { f: f }

    -if @cliente.id?
      -if !current_user.admin? && !@cliente_permissao.nil?
        -if @cliente_permissao.historico?
          =render 'clientes/partials/historico', { f: f }
        -if @cliente_permissao.texto_livre?
          =render 'clientes/partials/texto_livre', { f: f }
        -if @cliente_permissao.pdf_upload?
          =render 'clientes/partials/pdf_upload', { f: f }
        -if @cliente_permissao.receituario?
          =render 'clientes/partials/receituario', { f: f }
        -if @cliente_permissao.imagens_externas?
          =render 'clientes/partials/imagens_externas', { f: f }
      -else
        / aba historico
        =render 'clientes/partials/historico', { f: f }
        / aba texto-livre
        =render 'clientes/partials/texto_livre', { f: f }
        / aba pdf
        =render 'clientes/partials/pdf_upload', { f: f }
        / aba receituario
        =render 'clientes/partials/receituario', { f: f }
        / aba imagens_externas
        =render 'clientes/partials/imagens_externas', { f: f }
