%tr
  %td=strip_tags(cliente_texto_livre.content_data.truncate(150))
  %td
    =link_to empresa_clientes_edit_texto_livre_path(current_user.empresa, cliente_texto_livre.cliente_id ,cliente_texto_livre.id), remote: true, class: "change_line_client_free_text" do
      %i.fa.fa-pencil-square.fa-2x
    = link_to "#", id: "destroy_free_text" do
      %i.fa.fa-trash-o.fa-2x
    = link_to print_free_text_empresa_cliente_path(current_user.empresa, @cliente, texto_livre_id: cliente_texto_livre.id, format: 'pdf'), target: :_blank do
      %i.fa.fa-print.fa-2x