-# = simple_form_for([current_user.empresa, @cliente]) do |f|
-#   =f.input :empresa_name, as: :hidden, input_html: { value: current_user.empresa.slug }
-#   %ul{class: "nav nav-tabs"}
-#     %li.active
-#       %a{'data-toggle': "tab", href: "#dados"} Dados Pessoais
-#     %li
-#       %a{'data-toggle': "tab", href: "#contato"} Contato
-#     %li
-#       %a{'data-toggle': "tab", href: "#convenio"} Convênio
-#     -if !current_user.admin?
-#       -if !@cliente_permissao.nil?
-#         =render 'cliente_permissoes/abas'
-#     -else
-#       =render 'clientes/partials/asset/abas_padrao_adm'
-#   %div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
-#     .tab-content
-#       =render 'clientes/partials/dados_pessoais_edit', { f: f }
-#       =render 'clientes/partials/convenio', { f: f }
-#       =render 'clientes/partials/contato', { f: f }
-#       =render 'clientes/partials/historico', { f: f }
-#       =render 'clientes/partials/texto_livre', { f: f }
-#       =render 'clientes/partials/pdf_upload', { f: f }
-#       =render 'clientes/partials/receituario', { f: f }
-#       =render 'clientes/partials/imagens_externas', { f: f }

%ul{class: "nav nav-tabs"}
  %li{class:"active"}
    %a{'data-toggle':"tab", href:"#dados", id: "aba_dados"} Dados Pessoais
  %li
    %a{'data-toggle':"tab", href:"#contato", id: "aba_contato"} Contato
  %li
    %a{'data-toggle':"tab", href:"#convenio", id: "aba_convenio"} Convênios
  -if @cliente.id?
    -if !current_user.admin?
      -if !@cliente_permissao.nil?
        -if @cliente_permissao.historico?
          %li
            %a{'data-toggle':"tab", href:"#historico", id: "aba_historico"} Histórico
        -if @cliente_permissao.texto_livre?
          %li
            %a{'data-toggle':"tab", href:"#texto_livre", id: "aba_texto_livre"} Texto-Livre
        -if @cliente_permissao.pdf_upload?
          %li
            %a{'data-toggle':"tab", href:"#pdf", id: "aba_pdf_upload"} PDF
        -if @cliente_permissao.receituario?
          %li
            %a{'data-toggle':"tab", href:"#receituario", id: "aba_receituario"} Receituário
        -if @cliente_permissao.imagens_externas?
          %li
            %a{'data-toggle':"tab", href:"#imagens_externas", id: "aba_imagens_externas"} Imagens Externas
        -# -if @cliente_permissao.sadt?
        %li
          %a{'data-toggle':"tab", href:"#sadt", id: "aba_sadt"} Sadt
    -else
      %li
        %a{'data-toggle':"tab", href:"#historico", id: "aba_historico"} Histórico
      %li
        %a{'data-toggle':"tab", href:"#texto_livre", id: "aba_texto_livre"} Texto-Livre
      %li
        %a{'data-toggle':"tab", href:"#pdf", id: "aba_pdf_upload"} PDF
      %li
        %a{'data-toggle':"tab", href:"#receituario", id: "aba_receituario"} Receituário
      %li
        %a{'data-toggle':"tab", href:"#imagens_externas", id: "aba_imagens_externas"} Imagens Externas
      %li
        %a{'data-toggle':"tab", href:"#sadt", id: "aba_sadt"} Sadt
= simple_form_for([current_user.empresa, @cliente]) do |f|
  =f.input :empresa_name, as: :hidden, input_html: { value: current_user.empresa.slug }
  =render "clientes/partials/abas", {f: f}


#empresa_id{style: "display: none"}=params[:empresa_id]
#empresa_value{style: "display: none"}=current_user.empresa_id
#cliente_id{style: "display: none"}=params[:cliente_id]
#agenda_id{style: "display: none"}=params[:agenda_id]

