%div{class: "row"}
  %div{class: "col-xs-11 col-sm-11 col-md-11 col-lg-11"}
    %textarea{:class => "tinymce", :language => "pt_BR", :id => "historico_textarea"}
    =tinymce
    / =tinyMCE.activeEditor.setContent('<span>some</span> html');
    / %textarea{:id => "historico_textarea"}