%ul{class: "nav nav-tabs"}
  %li{class:"active"}
    %a{'data-toggle':"tab", href:"#dados", id: "aba_dados"} Dados Pessoais
  %li
    %a{'data-toggle':"tab", href:"#contato", id: "aba_contato"} Contato
  -if @cliente.id?
    %li
      %a{'data-toggle':"tab", href:"#convenio", id: "aba_convenio"} Convênio
    -if !current_user.admin? 
      -if !@cliente_permissao.nil?
        -if @cliente_permissao.historico?
          %li
            %a{'data-toggle':"tab", href:"#historico", id: "aba_historico"} Histórico
        -if @cliente_permissao.texto_livre?
          %li
            %a{'data-toggle':"tab", href:"#texto_livre", id: "aba_texto_livre"} Texto-Livre
        -if @cliente_permissao.pdf_upload?
          %li
            %a{'data-toggle':"tab", href:"#pdf", id: "aba_pdf_upload"} PDF
        -if @cliente_permissao.receituario?
          %li
            %a{'data-toggle':"tab", href:"#receituario", id: "aba_receituario"} Receituário
        -if @cliente_permissao.imagens_externas?
          %li
            %a{'data-toggle':"tab", href:"#imagens_externas", id: "aba_imagens_externas"} Imagens Externas
    -else
      %li
        %a{'data-toggle':"tab", href:"#historico", id: "aba_historico"} Histórico
      %li
        %a{'data-toggle':"tab", href:"#texto_livre", id: "aba_texto_livre"} Texto-Livre
      %li
        %a{'data-toggle':"tab", href:"#pdf", id: "aba_pdf_upload"} PDF
      %li
        %a{'data-toggle':"tab", href:"#receituario", id: "aba_receituario"} Receituário
      %li
        %a{'data-toggle':"tab", href:"#imagens_externas", id: "aba_imagens_externas"} Imagens Externas
-if @cliente.id?
  = simple_form_for(@cliente, url: create_paciente_path, method: 'POST') do |f|
    =render "clientes/partials/abas", { f: f}
-else
  = simple_form_for(@cliente, url: change_paciente_path, method: 'PUT') do |f|
    =render "clientes/partials/abas", {f: f}