= simple_form_for([current_user.empresa, @cliente], url: empresa_clientes_registros_path, method: :post) do |f|
  =render 'application/form/error_messages', target: @cliente
  %ul.nav.nav-tabs
    %li.active
      %a{'data-toggle':"tab", href:"#dados"} Dados Pessoais
    %li
      %a{'data-toggle':"tab", href:"#contato"} Contato
  .container{style: "padding-top: 10px; padding-bottom: 25px;"}
    .tab-content
      / aba dados_pessoais
      =render 'clientes/partials/abas/dados_pessoais', { f: f }
      / aba contato
      =render 'clientes/partials/abas/contato', { f: f }