#imagens_externas.tab-pane.fade
  .row
    =render 'clientes/partials/cliente_legend'
  = simple_form_for :imagens_externas do |i|
    .row-fluid{style: "margin-bottom: 20px;"}
      .pull-left
        %label{for: "imagens_externas_foto_antes", class: "custom-file-upload"}
          %i.fa.fa-cloud-upload Foto Antes
        =i.input :foto_antes, as: :file, label: false
        #foto_antes_selected
      .pull-right
        %label{for: "imagens_externas_foto_depois", class: "custom-file-upload"}
          %i.fa.fa-cloud-upload Foto Depois
        =i.input :foto_depois, as: :file, label: false
    .row-fluid{style: "margin-bottom: 20px;"}
      .pull-left
        #foto_antes_selected
        #foto_depois_selected
  - if @cliente.imagens_externas.count > 0
    = render 'clientes/partials/carousel_imagens_externas', {imagens_externas: @cliente.imagens_externas}
