- cliente_collection_pdfs.each do |cp|
  %tr{id: "cliente_pdf_#{cp.id}"}
    %td.annotations=cp.anotacoes
    %td=l cp.data
    %td.center
      =link_to cp.pdf.url, target: "_blank" do
        %i.fa.fa-cloud-download.fa-2x
    %td.center
      =link_to destroy_pdf_empresa_clientes_registro_path(cp.cliente.empresa, cp.cliente, pdf: cp), method: :delete, remote: true, data: { confirm: "Tem certeza?" }, class: "delete_cliente_pdf" do
        %i.fa.fa-trash.fa-2x