%div{id:"texto_livre", class:"tab-pane fade"}
  .container-fluid
    .row-fluid
      =link_to "Incluir Novo", "#", class: "btn btn-success", id: "include_new_free_text"
      =link_to "Incluir Novo", "#", class: "btn btn-warning", id: "salvar_new_free_text"
      =link_to "Cancelar Inclusão", "#", class: "btn btn-success", id: "cancelar_free_text"
      =link_to "Alterar", "#", class: "btn btn-success", id: "change_free_text"
      =content_tag :button, "Anterior", class: "btn btn-success"
      =content_tag :button, "Proximo", class: "btn btn-success"
  %br/
  .container
    #wrapper
      .col-md-10
        #free_text_area
          .panel.panel-default
            .panel-heading
              %b Texto-Livre
            .panel-body
              Area dos Textos Livres
        #select_free_text_modal
        #cktext_area_editor{style: "display: none"}
          =cktext_area :page, :info, cols: 40, ckeditor: { uiColor: '#E2E2E2', toolbar: 'mini', height: 400 }, :id => "texto_livre_textarea"


=javascript_include_tag Ckeditor.asset_path