#texto_livre.tab-pane.fade
  .container-fluid
    .col-md-12
      .row
        .col-md-3
          =link_to "Incluir Novo", "#", class: "btn btn-success", id: "include_new_free_text"
          =link_to "Incluir", "#", class: "btn btn-success", id: "salvar_new_free_text"
          =link_to "Cancelar Inclusão", "#", class: "btn btn-warning", id: "cancelar_free_text"
          =link_to "Alterar", "#", class: "btn btn-info", id: "change_free_text" if !@cliente.cliente_texto_livres.empty?
        .col-md-3
          .pull-right
            =link_to "Excluir", "#", class: "btn btn-danger", id: "destroy_free_text" if !@cliente.cliente_texto_livres.empty?
            #print_free_text{style: "display: inline;"}
              =link_to_print_free_text path: print_free_text_cliente_path(@cliente, texto_livre_id: @cliente_texto_livre.id, format: 'docx'), text: 'Imprimir' if !@cliente.cliente_texto_livres.empty?
        #manual_pagination
          =render 'manual_pagination' if !@cliente.cliente_texto_livres.empty?
  %br/
  .container
    .col-md-11
      #free_text_area
        .panel.panel-default
          .panel-heading
            %b Texto-Livre
          .panel-body
            #texto_livres_container
              .clearfix
                -if !@cliente_texto_livre.nil?
                  =render 'clientes/partials/cliente_texto_livre'
      #select_free_text_modal
      #cktext_area_editor{style: "display: none"}
        =cktext_area :page, :info, cols: 40, ckeditor: { uiColor: '#E2E2E2', toolbar: 'mini', height: 400 }, :id => "texto_livre_textarea"


=javascript_include_tag Ckeditor.asset_path