#texto_livre.tab-pane.fade
  .container-fluid
    =render 'clientes/partials/cliente_legend' if @cliente.id?
    %hr/
    .col-md-12
      .row
        .col-md-3
          =link_to "Incluir Novo", "#", class: "btn btn-success", id: "include_new_free_text"
          =link_to "Incluir", "#", class: "btn btn-success", id: "salvar_new_free_text"
          =link_to "Cancelar Inclusão", "#", class: "btn btn-warning", id: "cancelar_free_text"
        .col-md-3
          .pull-right
            =link_to "Alterar", "#", class: "btn btn-info", id: "change_free_text" if !@cliente.cliente_texto_livres.empty?
            =link_to "Excluir", "#", class: "btn btn-danger", id: "destroy_free_text" if !@cliente.cliente_texto_livres.empty?
            #print_free_text{style: "display: inline;"}
              =link_to_print_free_text path: print_free_text_cliente_path(@cliente, texto_livre_id: @cliente_texto_livre.id, format: 'pdf'), text: 'Imprimir' if !@cliente.cliente_texto_livres.empty?
        #manual_pagination
          =render 'manual_pagination' if !@cliente.cliente_texto_livres.empty?
  %br/
  .container-fluid
    .col-md-12
      -if !@cliente_texto_livre.nil?
        #free_text_area
          .panel.panel-default
            .panel-heading
              %b Texto-Livre
            .panel-body
              #texto_livres_container
                .clearfix
                =render 'clientes/partials/cliente_texto_livre'
      #select_free_text_modal
      #cktext_area_editor{style: "display: none"}
        =cktext_area :page, :info, cols: 40, ckeditor: { height: 400 }, :id => "texto_livre_textarea"



/ Modal
#textoLivresModal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Textos Livres
      .modal-body
        - if @texto_livres.present?
          #include_texto_livre
            =render 'texto_livres/include_texto_livre', {texto_livres: @texto_livres}
          #paginator_texto_livres
            =paginate @texto_livres, remote: true
      .modal-footer
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Fechar

=javascript_include_tag Ckeditor.asset_path