.panel.panel-default
  .panel-body
    .table-responsive
      %table.table.table-striped
        %thead
          %th NOME
          %th EMAIL
          %th ÚLTIMO LOGIN
        %tbody{style:"overflow: x;"}
          %tr
            %td=current_user.name
            %td=current_user.email
            %td=current_user.last_sign_in_at.strftime("%d de %B de %Y às %H:%M")
