=build_toolbar
.container-fluid
  .row-fluid
    %h4
      %span.text-info
        %i.fa.fa-question-circle-o
        =link_to "Precisa de Ajuda", "#"
    %br/
  .row
    .col-md-3
      =render "fast_access"
    .col-md-9
      .row-fluid
        %header
          %h1.center Calendários
          %hr
          %section.calendar
            .col-xs-12.col-sm-8.col-md-4.col-lg-4
              #calendarOne
              .panel{style: "width: 245px;"}
                .container-fluid
                  #FirstCalendarHolidays
            .col-xs-12.col-sm-8.col-md-4.col-lg-4
              #calendarTwo
              / %input{ type: "text", id: "current_month_input"}
              .panel{style: "width: 245px;"}
                .container-fluid
                  #SecondCalendarHolidays
            .col-xs-12.col-sm-8.col-md-4.col-lg-4
              #calendarThre
              .panel{style: "width: 245px;"}
                .container-fluid
                  #ThirdCalendarHolidays
        %br
        %br
        %br

=stylesheet_link_tag "dhtmlXSuite/dhtmlxCalendar/dhtmlx_material.css"
=javascript_include_tag "utility/load_index_calendar"