=build_toolbar
.container-fluid
  .row-fluid
    %h4
      %span.text-info
        %i.fa.fa-question-circle-o
        =link_to "Precisa de Ajuda", "#"
    %br/
  .row
    .col-md-3
      =render "fast_access"
    .col-md-9
      =render "profile_panel"
