=build_movimento_servico_form_toolbar(nil, ".edit_movimento_servico", @movimento_servico, nil, nil)
%section{id: "edit_movimento_servico"}
  %div{class: "container"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %h1 Editando Movimento de Serviço
        %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "panel"}
          = render 'movimento_servicos/partials/edit_form'