%td
  -unless agenda.agenda_movimentacao.present?
    =agenda.referencia
  -else
    %label=agenda.referencia
%td{align: "center"}=day_name(agenda.data.wday)
-if agenda.data.eql?(Date.today)
  %td{align: "center", style: "color: #1B861F; font-weight: bold;"}=agenda.data.strftime("%d/%m/%Y")
-else
  %td{align: "center", style: "color: #6E0200"}=agenda.data.strftime("%d/%m/%Y")
%td{align: "center"}=Time.parse(agenda.atendimento_inicio).strftime("%H:%M")
%td{align: "center"}
  %label=agenda.agenda_movimentacao.confirmacao if agenda.confirmacao?
%td
  %strong=agenda.agenda_movimentacao.nome_paciente.upcase if agenda.try(:agenda_movimentacao)
%td
  %strong=agenda.agenda_movimentacao.atendente.nome.upcase if agenda.try(:agenda_movimentacao)
%td
  %label=agenda.hora_atendimento.strftime("%H:%M") unless agenda.hora_atendimento.blank?
%td{align: "center"}
  -if current_user.admin?
    =carrega_opcoes_agenda(agenda)
  -else
    =render 'agendas/componentes/opcoes_for_funcionario', { agenda: agenda}