%section#dados_principais_da_agenda
  .container
    .row
      .col-md-3
        %b Código Responsável
        %br
        %label=agenda.referencia_agenda_id
      .col-md-3
        %b Responsável
        %br
        %label=agenda.referencia
      .col-md-2
        %b Data
        %br
        %label=agenda.data.strftime("%d/%m/%Y")
      .col-md-2
        %b Data
        %br
        %label=day_name(agenda.data.wday)
      .col-md-2
        %b Hora
        %br
        %label{style: "color: #9F0303"}=show_clock_period(agenda)
    .row
      %hr{style: "border: 0.5px #D9E7EF solid;"}
      .col-md-3
        %b Status
        %br
        -if agenda.status.eql?(I18n.t("agendas.helpers.scheduled"))
          %label{style: "color: #9F0303"}
            =agenda.status
        -else
          %label{style: "color: #059F03"}
            =agenda.status
      -if agenda.try(:agenda_movimentacao)
        .col-md-3
          %b Confirmação
          %br
          -if agenda.agenda_movimentacao.confirmacao?
            %label{style: "color: #57514B"}=agenda.agenda_movimentacao.confirmacao
          -else
            %label{style: "color: #57514B"} Nenhuma
      -if agenda.hora_atendimento?
        .col-md-3
          %b Hora do atendimento
          %br
          %label{style: "color: #A81616"}=agenda.hora_atendimento.strftime("%H:%M")
