#agenda_legend
  %li
    .block_tile
      .blue
      %label.legend Vago
  %br/
  %li
    .block_tile
      .green
      %label.legend Agendado
  %br/
  %li
    .block_tile
      .yellow
      %label.legend D.P / D.M
  %br/
  %li
    .block_tile
      .orange
      %label.legend Não Veio
  %br/
  %li
    .block_tile
      .red
      %label.legend Atendido