=carrega_navbar_da_agenda
=carrega_setor_alpha_da_agenda
.row
  .col-md-2
    =render "agendas/componentes/menu_lateral"
  .col-md-10
    =render "agendas/componentes/bloco_lateral"

= javascript_include_tag "agenda/rolagem", :media => "all"

