=content_for :header do
  = render "application/toolbars/dual_button_toolbar", { uri_path: empresa_agendas_path(current_user.empresa), root_path: root_path }
%br
%br

%section#agenda
  .container
    .row
      %h1="Agenda Nº: #{@agenda.id}"
      %hr{style: "border: #323232 solid 0.5px;"}
    .row
      .panel.panel-default
        .panel-heading Dados da Agenda
        .panel-body
          .row-fluid
            =render @agenda
      %hr{style: "border: #7084FF 1px dashed"}
      .row
        =render @agenda.agenda_movimentacao
