=build_form_toolbar(new_centro_de_custo_path,nil, @centro_de_custo, centro_de_custos_path, nil)
%div{class: "container-fluid"}
  %div{class: "row-fluid"}
    %div{class: "page-header"}
      %h1 Centro de custos
      %hr{style: "border: #323232 solid 0.5px;"}
      %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
        %thead
          %th=t(:status, scope: [:bootstrap, :helpers, :labels])
          %th=t(:código, scope: [:bootstrap, :helpers, :labels])
          %th=t(:name, scope: [:bootstrap, :helpers, :labels])
          %th{class: "pull-right"}=t(:show, scope: [:bootstrap, :helpers, :links])
        %tbody
          - @centro_de_custos.each do |centro_de_custo|
            %tr
              %td=ativo_ou_inativo?(centro_de_custo.status)
              %td=centro_de_custo.id
              %td=centro_de_custo.nome
              %td{class: "pull-right"}
                -if can? :read, CentroDeCusto
                  = link_to_visualizar centro_de_custo
  %div{class: "row"}
    %hr{style: "border: #323232 solid 0.5px;"}
