=build_form_toolbar(".new_centro_de_custo", @centro_de_custo, empresa_centro_de_custos_path(current_user.empresa), nil)
%section{id: "new_centro_de_custo"}
  %div{class: "container"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %h1 Novo Centro de Custo
        %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "panel"}
          = render 'centro_de_custos/form'
