.container-fluid
  / Nav tabs
  %ul.nav.nav-tabs{:role => "tablist"}
    -if can? :read, Agenda
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "agendas", "data-toggle" => "tab", :href => "#agendas", :role => "tab"} Agendas
    -if !(can? :read, Agenda) && (can? :create, Agenda)
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "gerar_agenda", "data-toggle" => "tab", :href => "#gerar_agenda", :role => "tab"} Gerar Agenda
    -else
      -if can? :create, Agenda
        %li{:role => "presentation"}
          %a{"aria-controls" => "gerar_agenda", "data-toggle" => "tab", :href => "#gerar_agenda", :role => "tab"} Gerar Agenda
    / -if @agenda_permissao.sala_espera?
    %li{:role => "presentation"}
      %a{"aria-controls" => "gerar_agenda", "data-toggle" => "tab", :href => "#sala_espera", :role => "tab"} Sala de Espera
  / Tab panes
  .tab-content
    -if can? :read, Agenda
      #agendas.tab-pane.active{:role => "tabpanel"}
        .panel
          =render 'result'
    -if can? :create, Agenda
      #gerar_agenda.tab-pane{:role => "tabpanel"}
        .panel
          .container-fluid
            =render 'form'
    / -if @agenda_permissao.sala_espera?
    #sala_espera.tab-pane{:role => "tabpanel"}
      .panel
        .container-fluid
          %hr
          =render 'sala_de_espera/index'

%hr{style: "border: #323232 solid 0.5px;"}
#movimentar_agenda_section
#block_day
#block_period