/ Nav tabs
.panel.panel-default
  %ul.nav.nav-tabs{:role => "tablist"}
    -if can? :read, Agenda
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "agendas", "data-toggle" => "tab", :href => "#agendas", :role => "tab"} Agendas
    -if can? :create, Agenda
      %li{:role => "presentation"}
        %a{"aria-controls" => "gerar_agenda", "data-toggle" => "tab", :href => "#gerar_agenda", :role => "tab"} Gerar Agenda
    -if current_user.admin || @agenda_permissao.sala_espera?
      %li{:role => "presentation"}
        %a{"aria-controls" => "gerar_agenda", "data-toggle" => "tab", :href => "  #sala_espera", :role => "tab"} Sala de Espera
  / Tab panes
  .tab-content
    -if can? :read, Agenda
      #agendas.tab-pane.active{:role => "tabpanel"}
        =render 'registros'
    -if can? :create, Agenda
      #gerar_agenda.tab-pane{:role => "tabpanel"}
        =render 'form'
    =render 'agendas/componentes/sala_espera'

%hr{style: "border: #323232 solid 0.5px;"}
#movimentar_agenda_section
#block_day
#block_period
