.col-md-1.col-sm-1.col-xs-1.col-lg-1{:style => "margin: 0; width: 9%;"}
  %label.string.control-label
    Legenda:
.col-md-1.col-sm-1.col-xs-1.col-lg-1{:style => "margin: 0; width: 9%;"}
  .legenda-bg.tr-bg-light-blue{:style => "float: left; margin-right: 3px;"}
  %label.string.control-label{:style => "float: left;"}
    Vago
.col-md-1.col-sm-1.col-xs-1.col-lg-1{:style => "margin: 0; width: 12%;"}
  .legenda-bg.tr-bg-green{:style => "float: left; margin-right: 3px;"}
  %label.string.control-label{:style => "float: left;"}
    Marcado
.col-md-1.col-sm-1.col-xs-1.col-lg-1{:style => "margin: 0; width: 12%;"}
  .legenda-bg.tr-bg-orange{:style => "float: left; margin-right: 3px;"}
  %label.string.control-label{:style => "float: left;"}
    Não Veio
.col-md-1.col-sm-1.col-xs-1.col-lg-1{:style => "margin: 0; width: 12%;"}
  .legenda-bg.tr-bg-light-red{:style => "float: left; margin-right: 3px;"}
  %label.string.control-label{:style => "float: left;"}
    Atendido
.col-md-1.col-sm-1.col-xs-1.col-lg-1{:style => "margin: 0; width: 35%;"}
  .legenda-bg.tr-bg-yellow{:style => "float: left; margin-right: 3px;"}
  %label.string.control-label{:style => "float: left;"}
    Desmarcado pelo Paciente / Médico