.row
  .col-md-12.col-sm-12.col-xs-12.col-lg-12
    .legenda-bg.tr-bg-light-blue{:style => "float: left; margin-right: 3px;"}
    %label.string.control-label{:style => "float: left;"}
      Vago
.row
  .col-md-12.col-sm-12.col-xs-12.col-lg-12
    .legenda-bg.tr-bg-green{:style => "float: left; margin-right: 3px;"}
    %label.string.control-label{:style => "float: left;"}
      Marcado
.row
  .col-md-12.col-sm-12.col-xs-12.col-lg-12
    .legenda-bg.tr-bg-orange{:style => "float: left; margin-right: 3px;"}
    %label.string.control-label{:style => "float: left;"}
      Não Veio
.row
  .col-md-12.col-sm-12.col-xs-12.col-lg-12
    .legenda-bg.tr-bg-light-red{:style => "float: left; margin-right: 3px;"}
    %label.string.control-label{:style => "float: left;"}
      Atendido
.row
  .col-md-12.col-sm-12.col-xs-12.col-lg-12
    .legenda-bg.tr-bg-yellow{:style => "float: left; margin-right: 3px;"}
    %label.string.control-label{:style => "float: left;"}
      Desmarcado pelo Paciente / Médico

