=build_form_toolbar(nil, ".edit_cliente", @cliente, empresa_clientes_registros_path(current_user.empresa), nil)
.container-fluid
  %br
  %br
  %h1=t('bootstrap.helpers.links.edit')
  %h4
    %strong Cliente - Nº: #{@cliente.id} - #{@cliente.nome}
  %hr.white_stroke
  .row-fluid
    .panel
      =render 'clientes/partials/edit_form'

#empresa_id{style: "display: none"}=params[:empresa_id]
#cliente_id{style: "display: none"}=params[:cliente_id]