/ -if usuario_signed_in? && current_usuario.admin?
/   -render_menu_tree(current_usuario.empresa.empresa_permissoes) do |elem|
/     =elem.permissao
/ -if usuario_signed_in? && current_usuario.funcionario?
/   -render_menu_tree(current_usuario.usuario_permissoes) do |elem|
/     =elem.permissao

-if can? :read, Agenda
  %li=link_to 'Agendas', painel_empresa_agendas_path(current_usuario.empresa), style: "font-weight: bold;"
-if can? :read, Cabec
  %li=link_to 'Cabecs', new_cabec_path, style: "font-weight: bold;"
-if can? :read, Cargo
  %li=link_to 'Cargos', new_cargo_path, style: "font-weight: bold;"
-if can? :read, CentroDeCusto
  %li=link_to 'Centro de Custos', new_centro_de_custo_path, style: "font-weight: bold;"
-if can? :read, Cliente
  %li=link_to 'Clientes', new_cliente_path, style: "font-weight: bold;"
-if can? :read, Convenio
  %li=link_to 'Convênio', new_convenio_path, style: "font-weight: bold;"
-if can? :read, ConselhoRegional
  %li=link_to 'Conselho Regional', new_conselho_regional_path, style: "font-weight: bold;"
-if can? :read, Fornecedor
  %li=link_to 'Fornecedores', new_fornecedor_path, style: "font-weight: bold;"
-if can? :read, ImagemCabec
  %li=link_to 'Imagem Cabec', new_imagem_cabec_path, style: "font-weight: bold;"
-if can? :read, Operadora
  %li=link_to 'Operadoras', new_operadora_path, style: "font-weight: bold;"
-if can? :read, Profissional
  %li=link_to 'Profissionais', new_profissional_path, style: "font-weight: bold;"
-if can? :read, Servico
  %li=link_to 'Serviços', new_empresa_servico_path(current_usuario.empresa), style: "font-weight: bold;"
-if can? :read, TextoLivre
  %li=link_to 'Texto Livre', new_texto_livre_path, style: "font-weight: bold;"
-if can? :read, ReferenciaAgenda
  %li=link_to 'Referência Agendas', new_referencia_agenda_path(current_usuario.empresa), style: "font-weight: bold;"