-if current_user.admin?
  %li
    %a{'data-toggle':"tab", href:"#historico", id: "aba_historico"} Histórico
  %li
    %a{'data-toggle':"tab", href:"#texto_livre", id: "aba_texto_livre"} Texto-Livre
  %li
    %a{'data-toggle':"tab", href:"#pdf", id: "aba_pdf_upload"} PDF
  %li
    %a{'data-toggle':"tab", href:"#receituario", id: "aba_receituario"} Receituário
  %li
    %a{'data-toggle':"tab", href:"#imagens_externas", id: "aba_imagens_externas"} Imagens Externas