-if !current_user.admin? 
  -if !@cliente_permissao.nil?
    -if @cliente_permissao.historico?
      %li
        %a{'data-toggle':"tab", href:"#historico", id: "aba_historico"} Histórico
    -if @cliente_permissao.texto_livre?
      %li
        %a{'data-toggle':"tab", href:"#texto_livre", id: "aba_texto_livre"} Texto-Livre
    -if @cliente_permissao.pdf_upload?
      %li
        %a{'data-toggle':"tab", href:"#pdf", id: "aba_pdf_upload"} PDF
    -if @cliente_permissao.receituario?
      %li
        %a{'data-toggle':"tab", href:"#receituario", id: "aba_receituario"} Receituário
    -if @cliente_permissao.imagens_externas?
      %li
        %a{'data-toggle':"tab", href:"#imagens_externas", id: "aba_imagens_externas"} Imagens Externas