=content_for :header do
  =render 'application/navbar'

=simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f|
  .login-form
    %h1.login GClinic
    .form-group
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        = f.input :name, required: true, autofocus: true,:placeholder => "Nome de Usuário"
    .form-group.log-status
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        = f.input :password, required: false,:placeholder => "Senha"
    %span.alert Invalid Credentials
    / %a.link{:href => "#"} Lost your password?
    / %button.log-btn{:type => "button"} Log in
    = f.button :submit, "Log in", class: "btn btn-success"