=content_for :header do
  =render 'application/navbar'

.container
  =simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f|
    .login-form
      %fieldset.login
        %legend GClinicWeb
        .container-fluid
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              =f.input :name, required: true, autofocus: true, :placeholder => "Nome de Usuário", input_html: { class: "username_text" }
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              =f.input :password, required: false,:placeholder => "Senha"
          .row
            = f.button :submit, "Log in", class: "btn btn-success", style: "width: 100%"
