=build_form_toolbar(nil, ".edit_cabec", @cabec, empresa_cabecs_path(current_user.empresa), nil)
%section{id: "edit_cargo"}
  %div{class: "container"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %h1 Editando Cabec
        %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "panel"}
          = render 'cabecs/form'
