=build_form_toolbar(new_operadora_path,nil, @operadora, operadoras_path, nil)
%div{class: "container"}
  %div{class: "row"}
    %h1=t('labels.operadoras')
    %hr{style: "border: #323232 solid 0.5px;"}
    %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
      %thead
        %th=t('labels.status')
        %th=t('labels.id')
        %th=t('labels.name')
        %th.pull-right=t('bootstrap.helpers.actions')
      %tbody
        - @operadoras.each do |operadora|
          %tr
            %td= status(operadora.status)
            %td= operadora.id
            %td= operadora.nome
            %td
              .btn-group.pull-right
                -if can? :read, Operadora
                  = link_to_visualizar operadora
  %div{class: "row"}
    %hr{style: "border: #323232 solid 0.5px;"}
