%div{class: "col-md-12 col-sm-12 col-xs-12 col-lg-12"}
  =form_tag localize_empresa_agenda_sala_de_espera_index_path(current_user.empresa, 0), :method => 'get', remote: true do
    %row
      %div{class: "col-lg-2"}
        %label
          Status
        = select(:status, '', [['Todos','Todos'],['Atendidos','Atendidos'], ['Agendados', 'Agendados']], {:include_blank => 'Selecione'}, :class => "form-control")
      %div{class: "col-lg-3"}
        %label
          Data
        .form-group
          =date_select :"data", :sala_espera, :order => [:day, :month, :year], default: Date.today, :html=>{ :class => "form-control"}
      %div{class: "col-lg-3"}
        %label
          Pesquisar Paciente
        = text_field_tag :paciente_nome, '', placeholder: "Pesquisar paciente", class: "form-control"
      %br
      = submit_tag "Pesquisar", :name => nil, class: "btn btn-primary"

%hr{style: "border: #B1B1B1 1px solid"}

.table-responsive
  %table{class: "table table-striped"}
    %thead
      %tr
        %th Código
        %th Status
        %th Nome
        %th Convênio
        %th Data(Agendada)
        %th Nome do Responsável
        %th Hora Agendada
        %th Hora Chegada
        %th Inicio do Atendimento
        %th Fim do Atendimento
        %th Opções
    %tbody#sala_esperas
      =render 'sala_de_espera/sala_de_esperas', {sala_esperas: @sala_esperas}