#sala_espera.tab-pane{:role => "tabpanel"}
  .well
    =form_tag localize_empresa_agenda_sala_de_espera_index_path(current_user.empresa, 0), :method => 'get', remote: true do
      .row
        .col-xs-12.col-sm-3.col-md-4.col-lg-4
          %label Status
          = select(:status, '', [['Todos','Todos'],['Atendidos','Atendidos'], ['Agendados', 'Agendados']], {:include_blank => 'Selecione'}, :class => "form-control")
        .col-xs-12.col-sm-3.col-md-2.col-lg-2
          %label Data
          -# =date_select :"data", :sala_espera, :order => [:day, :month, :year], default: Date.today, :html=>{ :class => "form-control"}
          -#       %br/
          =text_field_tag :"data", '', class: 'datepicker', style: "width: 90%; height: 40px; margin-top: auto;"
        .col-xs-12.col-sm-3.col-md-3.col-lg-4
          %label Pesquisar Paciente
          = text_field_tag :paciente_nome, '', placeholder: "Pesquisar paciente", class: "form-control"
      .row
        .col-xs-12.col-sm-3.col-md-4.col-lg-4
          = submit_tag "Pesquisar", :name => nil, class: "btn btn-primary"
  %br/
  %br/
  .row-fluid
    .table-responsive
      %table{class: "table table_pdf_cliente table-striped table-bordered"}
        %thead
          %tr
            %th Código
            %th Status
            %th Nome
            %th Convênio
            %th Data(Agendada)
            %th Nome do Responsável
            %th Hora Agendada
            %th Hora Chegada
            %th Inicio do Atendimento
            %th Fim do Atendimento
            %th Opções
        %tbody#sala_esperas
          =render 'sala_de_espera/sala_de_esperas', {sala_esperas: @sala_esperas}

      #waiting_room_paginator=paginate @sala_esperas, remote: true

