%table{class: "table table-striped"}
  %thead
    %tr
      %th Status
      %th Código
      %th Nome
      %th Convênio
      %th Data(Agendada)
      %th Nome do Responsável
      %th Hora Agendada
      %th Hora Chegada
      %th Inicio do Atendimento
      %th Fim do Atendimento
  %tbody
    %tr
      %td