#select_texto_livre.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Texto-Livres
      .modal-body
        %table{class: "table table-striped table-bordered", cellspacing: "0", width: "100%"}
          %thead
            %tr
              %th Tipo
              %th
          %tbody#textos_livres_content
            -textos_livres.each do |f|
              %tr
                %td=f.nome
                %td=link_to "Incluir", "#", class: "include_data_contant_to_ckeditor", data: { content: f.content }
      .modal-footer
        %button.btn.btn-warning{"data-dismiss" => "modal", :type => "button"} Close
    / /.modal-content
  / /.modal-dialog
/ /.modal

