=build_form_toolbar(nil, ".edit_texto_livre", @texto_livre, texto_livres_path, nil)
%section{id: "edit_texto_livre"}
  %div{class: "container"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %h1 Editando Configuração Texto Livre
        %hr{style: "border: #323232 solid 0.5px;"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "panel"}
          = render 'texto_livres/form'