=build_form_toolbar(nil ,".new_texto_livre", @texto_livres, empresa_texto_livres_path(current_user.empresa), nil)
%section#new_texto_livre
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        %h1 Novo Texto Livre
        %hr{style: "border: #323232 solid 0.5px;"}
    .row
      .panel
        .container
          =render 'form'