=build_form_toolbar(new_texto_livre_path,nil, @servicos, texto_livres_path, nil)
.container
  .panel.panel-default
    .container-fluid
      .row-fluid
        %p
          %b Nome:
          = @texto_livre.nome
        %p
          %b Servico:
          = @texto_livre.servico
.container
  .panel.panel-default
    .container-fluid
      .row-fluid
        %p
          = raw @texto_livre.content