%nav.navbar.navbar-custom.navbar-fixed-top.navbar-full
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -if usuario_signed_in?
        =link_to root_path, class: "navbar-brand brand-logo" do
          =current_usuario.empresa_nome
        #menu-toggle.navbar-toggle.collapsed{"data-toggle" => "collapse"}
          %i.fa.fa-bars.fa-2x{"aria-hidden" => "true"}
      -else
        .col-xs-12.col-md-12.link_to_admin-panel.center
          =link_to new_master_session_path, class: "navbar-brand brand-logo center" do
            GClinicWeb
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          =link_to root_path, class: "nav-link" do
            Home
            %span.sr-only (current)
        -if current_usuario.empresa.empresa_permissoes.any? || current_usuario.usuario_permissoes.any?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Cadastros
              %span.caret
            %ul.dropdown-menu
              =render 'application/menus/cadastros'
      %ul.nav.navbar-nav.navbar-right
        .navbar-usuario
          %li.navbar-brand.usuario_navbar="Olá #{current_usuario.nome}"
          %li
            =link_to destroy_usuario_session_path, method: 'delete', title: "SAIR", class: "nav-link" do
              %i.fa.fa-2x.fa-sign-out
    / /.navbar-collapse
  / /.container-fluid