%nav.navbar.navbar-full.navbar-light.navbar-inverse.navbar-fixed-top.navbar-custom
  .navbar-header.fixed-brand
    -if user_signed_in?
      =link_to root_path, class: "navbar-brand brand-logo" do
        =current_user.environment.name
      #menu-toggle.navbar-toggle.collapsed{"data-toggle" => "collapse"}
        %i.fa.fa-bars.fa-2x{"aria-hidden" => "true"}
    -else
      .col-xs-12.col-md-12.link_to_admin-panel.center
        =link_to new_admin_session_path, class: "navbar-brand brand-logo center" do
          GClinicWeb
    / /.navbar-collapse
  / /.container-fluid