-if usuario_signed_in? && current_usuario.admin?
  -render_menu_tree(current_usuario.empresa.empresa_permissoes) do |elem|
    =elem.permissao
-if usuario_signed_in? && current_usuario.funcionario?
  -render_menu_tree(current_usuario.usuario_permissoes) do |elem|
    =elem.permissao