.container-fluid
  .row
    .col-md-8
      %h1=@empresa.nome
      %small.pull-left
        - if @empresa.status
          %i.fa.fa-circle{style:"color: #13C03A"}
      %small.pull-right
        %i.fa.fa-2x.fa-pencil-square-o{style:"color: #110C2F"}
        %i.fa.fa-2x.fa-toggle-off{style:"color: #868686"}
        %i.fa.fa-2x.fa-times-circle{style:"color: #AD0723"}
      %br
      %i.fa.fa-clock-o
      %b="Criada há: " + time_ago_in_words(@empresa.created_at)
      %br
      .well
        %b Administradores
        %hr
        =link_to "Novo Administrador", "#"
        .row-fluid
          %asside
            %table.table.table-striped
              %thead
                %th Nome
                %th Nome de usuário
                %th Criado há
                %th Opções
              %tbody#empresa_administradores_content
                =render @administradores
            %center
              #administrador_paginator
                =paginate @administradores, param_name: "administradores_pagina", :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-small pagination-centered"
      .well
        %b Funcionários
        %hr
        .row-fluid
          %asside
            -if @funcionarios.empty?
              %em Não existem funcionários nesta empresa
            -else
              %table.table.table-striped
                %thead
                  %th Nome
                  %th Nome de usuário
                  %th Criado há
                  %th Opções
                %tbody#empresa_funcionarios_content
                  =render 'funcionarios', { funcionarios: @funcionarios }
              #administrador_paginator
                =paginate @funcionarios, param_name: "funcionarios_pagina", :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-small pagination-centered"
    .col-md-4
      =render 'empresa_permissoes'
/Modals
/ =render 'update_form'
/ =render 'painel/administradores/novo_administrador'