@import "ROBOTO/path";

blockquote{
  border-left:none;
}

.quote-badge{
  background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
  overflow: hidden;
  margin-top: -50px;
  padding-top: -100px;
  border-radius: 17px;
  background-color: #E9E9E9;
  margin-top: 25px;
  color: #54758F;
  font-family: "Roboto";
  font-weight: bold;
  text-transform: capitalize;
  width: 325px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #989898;
}

.quotation-mark{
  margin-top: -10px;
  font-weight: bold;
  font-size:100px;
  color: #6A6969;
  font-family: "Times New Roman", Georgia, Serif;
}

.quote-text{
  font-size: 19px;
  margin-top: -65px;
}