$grey: #787878
$lighgrey: #91A5B5
$smoothblue: #54758F
$blood-red: #882323
$blood-blue: #5789AC

@import "ROBOTO/path"

body
  font-size: 14px
  line-height: 1.42857143
  color: #333
  min-height: 100%
  font-weight: 400
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased
  height: 100%
  background: -webkit-linear-gradient(90deg,  #577CFF 10%, #D6D6D6 90%)
  background:    -moz-linear-gradient(90deg,  #E1E1E1 10%, #D6D6D6 90%)
  background:     -ms-linear-gradient(90deg,  #E1E1E1 10%, #D6D6D6 90%)
  background:      -o-linear-gradient(90deg,  #E1E1E1 10%, #D6D6D6 90%)
  background:         linear-gradient(90deg,  #E1E1E1 10%, #D6D6D6 90%)
  font-family: 'Lato', sans-serif

.wrapper
  width: 80%
  margin: 0 auto

.wrapper_with_padding
  width: 80%
  margin: 0 auto
  padding: 3.5rem 0

#page-wrapper
  padding: 0 15px
  min-height: 100%
  margin-top: 1%

.footer
  position: fixed
  bottom: 0
  width: 100%
  height: 60px
  background-color: #2f5c9e
  border-color: #274d84
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3b73c5), to(#2f5c9e))
  background-image: -webkit-linear-gradient(top, #3b73c5, 0%, #2f5c9e, 100%)
  background-image: -moz-linear-gradient(top, #3b73c5 0%, #2f5c9e 100%)
  background-image: linear-gradient(to bottom, #3b73c5 0%, #2f5c9e 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b73c5', endColorstr='#ff2f5c9e', GradientType=0)
  h5
    line-height: 1em
    margin-top: 20px
    color: #F2F2F2
    font-weight: bold
    text-align: center
    font-size: 13pt
    a
      color: #F2F2F2 !important
    a:hover
      color: #27D5CC

h5.company_name
  font-size: 14pt
  font-family: 'Roboto'
  line-height: 1.5em
  a
    color: #F2F2F2 !important
    font-weight: bold
    &:hover
      color: #6BDCCA !important
      font-weight: bold
  

a.mailto
  color: $smoothblue
  text-decoration: underline
  &:hover
    color: $lighgrey
    border-bottom: 1px solid $blood-blue

#flash_container
  margin-top: 5%

#sessions_left_side_content
  .panel
    h2
      padding: 10px 10px 0 10px
      margin: 0 auto
      font-size: 2.5rem !important
      font-weight: bold
      color: $grey
    label
      color: $grey !important
#sessions_right_side_content
  .panel
    h1
      font-size: 2.5rem !important
      font-weight: bold
      padding: 10px 10px 0 10px
      margin: 0 auto
    p 
      font-size: 25pt !important
      &.company
        text-align: center
        padding: 40px
    height: 310px
  color: $grey

.session-btn-actions
  display: inline-flex
  margin-bottom: 20px

.text-center
  text-align: center

.img_profissional
  width: 125px
  height: 150px

.collection_select
  display: block
  width: 100%
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857143
  color: #555
  background-color: #fff
  background-image: none
  border: 1px solid #ccc
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s