$navbar-ghcare-color:             #777 !default;
$navbar-ghcare-bg:                #436E90 !default;
$navbar-ghcare-border:            darken($navbar-ghcare-bg, 6.5%) !default;

// Navbar links
$navbar-ghcare-link-color:                #777 !default;
$navbar-ghcare-link-hover-color:          #333 !default;
$navbar-ghcare-link-hover-bg:             transparent !default;
$navbar-ghcare-link-active-color:         #555 !default;
$navbar-ghcare-link-active-bg:            darken($navbar-ghcare-bg, 6.5%) !default;
$navbar-ghcare-link-disabled-color:       #ccc !default;
$navbar-ghcare-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-ghcare-brand-color:               $navbar-ghcare-link-color !default;
$navbar-ghcare-brand-hover-color:         darken($navbar-ghcare-brand-color, 10%) !default;
$navbar-ghcare-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-ghcare-toggle-hover-bg:           #ddd !default;
$navbar-ghcare-toggle-icon-bar-bg:        #888 !default;
$navbar-ghcare-toggle-border-color:       #ddd !default;


$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint:     $screen-sm-min !default;
