%div{class: "container", style: "margin-left: 5%; padding-top: 15px; padding-bottom: 15px;"}
  = simple_form_for([current_user.empresa, @imagem_cabec]) do |f|
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-6 col-md-6 col-lg-6", style: 'margin: 0; padding: 0;'}
        %div{style: "font-weight: bold;"}
          =f.error_notification
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
        = f.input :nome
    -# %div{class: "row"}
    -#   %div{class: "col-xs-12 col-sm-6 col-md-4 col-lg-3"}
    -#     = f.input :imagem, as: :file
    .row
      .col-xs-12.col-sm-6.col-md-4.col-lg-6
        %label Imagem
        %label{for: "imagem_cabec_imagem", class: "custom-file-upload"}
          %i.fa.fa-cloud-upload Foto Upload
        = f.input :imagem, as: :file, label: false
        #imagem_cabec_imagem_selected
