=build_form_toolbar(nil, ".edit_imagem_cabec", @imagem_cabec, imagem_cabecs_path, nil)
%section{id: "edit_imagem_cabec"}
  %div{class: "container"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %h1=t('labels.editar imagem cabec')
        %hr{style: "border: #323232 solid 0.5px;"}
        %div{class: "row-fluid"}
          %div{class: "panel"}
            =render 'form'
        %hr{style: "border: #323232 solid 0.5px;"}
