=build_object_viewer_toolbar(edit_imagem_cabec_path(@imagem_cabec), @imagem_cabec, imagem_cabecs_path, nil)
%section{id: "show_convenio"}
  %div{class: "container"}
    %div{class: "row"}
      %div{class: "col-xs-12 col-sm-12 col-md-12 col-lg-12"}
        %div{class: "row-fluid"}
          %h2 Exibindo Imagens Cabec
          %hr{style: "border: #323232 solid 0.5px;"}
        %div{class: "row-fluid"}
          %p
            .col-md-1
              %strong ID:
              = @imagem_cabec.id
            .col-md-2
              =image_tag @imagem_cabec.imagem.url(:medium), :class => "img_profissional"
        %hr{style: "border: #323232 solid 0.5px;"}
