!!!
%html{lang: 'pt-BR'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', :"http-equiv" => 'X-UA-Compatible'}
    %title
      | #{ controller.controller_name.titleize } - #{ controller.action_name.titleize }
    %meta{name: "globalnetsis", content: "Safe-system.LTDA"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{content: "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "Ui Kit Responsive with Bootstrap, Flat, Android Compatible web template, \nSmartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design", :name => "keywords"}
    %script{:type => "application/x-javascript"} addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    =stylesheet_link_tag "application", :media => "all"
    =csrf_meta_tag
  %body{class: controller.controller_name}
    =build_chromeframe
    #wrapper
      =yield :header
      #page-wrapper
        .container-fluid
          #flash_container
            =render 'layouts/flash'
        = yield
    .clearfix
    = javascript_include_tag "application", :media => "all"
    :javascript
      new WOW().init();
